@page "/stats"
@using ConcertBoxxd.Data;
@using ConcertBoxxd.Services;
@inject ConcertAPIService setlistfm
@inject DBService dbservice
@using System;
@using System.Text.RegularExpressions;
<PageTitle>Stats</PageTitle>

<h1>Stats</h1>
<br />

<table class="table">
    <thead>
        <tr>
            <td>Artist</td>
            <td>Shows Attended</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var band in stats)
        {
            <tr>
                <td>@band.Artist</td>
                <td>@band.ConcertCount</td>

            </tr>
        }
    </tbody>

</table>

@code {
    public List<ArtistConcertCount> stats = new List<ArtistConcertCount>();

    protected override async Task OnInitializedAsync()
    {
        stats = await dbservice.GetStats();

    }

}
